.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-info-row {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
}

.user-block {
    width: 400px;
    display: flex;
    flex-direction: column;
}
